a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.header {
	background-color: #0020F4;
	padding-bottom: 269.56px;
	padding-top: 27px;
}
.navbar {
	color: #FFFFFF;
}
. logo {
	margin-left: 240px;
}
. main-image {
	width: 1195px;
	margin-left: 362px;
}
h3 {
	color: #171717;
	margin-left: 362px;
	margin-bottom: 60px;
}
div a {
	width: 219px;
	margin-left: 25px;
}
div {
	margin-left: 362px;
}
p {
	color: #171717;
	margin-bottom: 18px;
}
article {
	margin-bottom: 60px;
}
. info {
	margin-left: 847px;
	margin-bottom: 76px;
	color: #FFFFFF;
	background-color: #0A22F4;
}